<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



    <title>Profile Manager</title>
</head>

<body>

  <div class="fondo">


      <div class="login-box">
        <h1>Login</h1>
        <div class="text-box">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Username" name="" value="">

        </div>

        <div class="text-box">
        <i class="fas fa-unlock-alt"></i>
        <input type="password" placeholder="Password" name="" value="">
        </div>
        <input class="btn" type="button" name="" value="Sign In">
      <a href="formulario.html">  <input class="btn" type="button" name="" value="Sign Up"></a>
      </div>
      </div>
</body>

</html>
