body {
    background-image: url('../img/background-brown-carpentry-326311.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #000;
}

.form.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* signin section */
.form-signin-container {
    margin: 5vh 0 0 0;
}

.form-signin {
    padding: 100px 50px;
    background-color: #ffffff80;
    border-radius: 10px;
}

.title-signin {
    text-align: center;
    margin-bottom: 4rem;
}

/* signup section */
.form-signup-container {
    margin: 5vh 0 0 0;
}

.form-signup {
    padding: 50px 50px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.title-signup {
    text-align: center;
    margin-bottom: 4rem;
}

/* helpers section */
.btn-container {
    padding: 5px;
}

.btn-container>a,
.btn-container>button {
    margin: 5px;
}

/* main section */
.welcome-text {
    text-align: center;
    margin: 25vh 0;
}