<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>Formulario</title>
  </head>
  <body>



<div class="box">


    <form class="" action="" method="post">
    <h1>Sign Up</h1>


    <div class="form">


        <fieldset>

       <legend><span class="section">1 </span> Your Basic Info  </legend>

      <label for="name">First Name:</label>
      <input type="text" name="name" value="">
      <label for="name">Last Name:</label>
      <input type="text" name="name" value="">

      <label for="email">Username:</label>
      <input type="email" name="email" value="">

      <label for="password">Password: </label>
      <input type="password" name="password" value="">



    </fieldset>




<button type="submit" class="btn dark">Sign Up</button>

    </form>

</div>


</div>

  </body>
</html>
