<div class="form container">
    <div class="row form-signup-container">
        <div class="col-md-6 offset-md-3">
            <form action="/signup" method="POST" class="form-signup" id="form_signup">
                <h3 class="title-signup">Sign Up Form</h3>
                <div class="form-group">
                    <input type="text" name="firstname" class="form-control" id="input_firstname_signup"
                        placeholder="First name: ">
                </div>
                <div class="form-group">
                    <input type="text" name="lastname" class="form-control" id="input_lastname_signup"
                        placeholder="Last name: ">
                </div>
                <div class="form-group">
                    <input type="text" name="username" class="form-control" id="input_username_signup"
                        placeholder="Username: ">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="input_password_signup"
                        placeholder="Password: ">
                </div>
                <div class="form-group d-flex justify-content-center btn-container">
                    <a href="/signin" class="btn btn-primary">
                        Go to sign in
                    </a>
                    <button class="btn btn-success" id="btn_submit_signup">
                        Contiue
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>