<div class="form container">
    <div class="row form-signin-container">
        <div class="col-md-6 offset-md-3">
            <form action="/signin" method="POST" class="form-signin" id="form_signin">
                <h3 class="title-signin">Sign In Form</h3>
                <div class="form-group">
                    <input type="text" name="username" class="form-control" id="input_username_signin"
                        placeholder="Username: ">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="input_password_signin"
                        placeholder="Password: ">
                </div>
                <div class="form-group d-flex justify-content-center btn-container">
                    <a href="/signup" class="btn btn-primary">
                        Go to sign up
                    </a>
                    <button class="btn btn-success" id="btn_submit_signin">
                        Continue
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>